@media (max-width: 375px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "content";
    }
    .main-nav, .side, .ad, .main-footer, .main-head {
        display: none;
    }
}